# Mac
**/.DS_Store

node_modules
build
migrations
prisma
webpack.config.js

**/deprecated

.idea

*.sql
data

# yarn
.yarn
yarn-error.log

# gql
/src/server/graphql/generated
/src/server/scripts
/src/server/migration-scripts
**/graphql.schema.*

.env

# misc
.nova
tsconfig.tsbuildinfo

# minio
src/server/minio
