# Mac
**/.DS_Store

node_modules
.next
.idea
*.sql
data
.env
.env.example
.env.local
build
.yarn
src/types/graphql.ts
src/styles/_variables.scss
src/i18n/messages
src/i18n/compiled-messages
# misc
.nova
tsconfig.tsbuildinfo
